body {
    margin: auto;
    background-color: #000000;
}

* {
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.background-image {
    position: fixed;
    background-image: url(..//images/catmoon.jpg);
    background-size: 980px;
    height: 600px;
    width: 960px;
    margin-top: -40px;
    z-index: -50;
}

.head-box {
    position: fixed;
    width: 100%;
    margin-top: 30px;
    background-color: #a01d06;
    padding-bottom: 8px;
    padding-top: 22px;
    z-index: 50;
}

.headline {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 35px;
    text-align: center;
    color: #fff;
}

form {
    color: #fff;
    padding-top: 85px;
    text-shadow: 0.1em 0.1em 0.05em black;
    font-size: 25px;
}

.submit {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #a01d06;
    padding-top: 10px;
    padding-bottom: 10px;
}

#start {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    padding: 5px 45px;
    margin-top: 310px;
    color: white;
    background: #a01d06;
}

#wrapper {
    width: 960px;
    height: 95%;
    box-sizing: border-box;
    margin: 2.5% auto;
    background-color: #fff17a;
}

#sub-wrapper {
    position: relative;
    top: 15%;
}

button {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    margin: 15px auto;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: white;
}

img {
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0.1em 0.1em 0.03em black;
}

h1 {
    padding-top: 2.5%;
    font-size: 6.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px black;
}

h2 {
    margin-top: 120px;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px black;
}

h3 {
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow: 2px 2px black;
}

button:hover {
    background: #a01d06;
}

a#navAudio {
    margin-top: -30px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
}

#audio_on {
    display: inline;
}

#audio_mute {
    display: none;
}